body {
    font-family: $base-font-family;
    line-height: $base-line-height;
  }
  
  a {
    transition: 0.5s;
  }
  
  .header {
    background-color: $secondary-color;
  
    .nav {
      color: $nav-text-color;
  
      ul {
        padding: 40px 0;
  
        a:hover {
          opacity: 0.8;
        }
      }
    }
  
    .banner {
      padding-top: 72px;
      padding-bottom: 32px;
      &-image {
        height: 848px;
      }
      &-content {
        color: $primary-color;
  
        flex-direction: column;
        .btn {
          margin-left: auto;
        }
      }
  
      .h1 {
        color: $accent-color;
        // text-align: right;
        margin-left: auto;
      }
    }
  }
  
  .main {
    .introduction {
      padding: 160px 0;
  
      &-content {
        width: 526px;
        color: $primary-color;
      }
    }
    .aboutme {
      color: $description-text-color;
      padding: 160px 0;
  
      &-list {
        ol {
          flex-wrap: wrap;
        }
        li {
          width: calc(50% - 12px);
          padding: 16px;
          border: 1px solid #e3e3e3;
          box-shadow: 4px 4px 4px 0px #00000014;
        }
      }
  
      &-content {
        width: 526px;
        .h3 {
          color: $secondary-color;
        }
      }
    }
    .contactme {
      padding: 96px 0;
      background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
  
      &-content {
        color: $primary-color;
      }
  
      &-sns {
        li {
          border-radius: 40px;
          box-shadow: 4px 4px 8px 0px #00000014;
          transition: 0.5s;
        }
        li:hover {
          box-shadow: 0px 0px 16px 3px #9094ffe5;
        }
      }
    }
  
    .myprojects{
      padding: 160px 0;
      .h3{
          width: 746px;
          margin-left: auto;
      }
      
      &-content{
          color:$description-text-color;
      }
    }
  }
  
  .footer {
    background-color: $secondary-color;
    padding: 40px 0;
    p {
      text-align: center;
      color: $primary-color;
    }
  }
  
  .container {
    width: $container-width;
    margin: 0 auto;
  }
  
  .w-50 {
    width: 50%;
  }
  
  .btn {
    border-radius: 32px;
    padding: 12px 24px;
  
    &:hover {
      opacity: 0.8;
    }
  }
  
  .btn-light {
    background-color: $primary-color;
    color: $secondary-color;
  }
  
  .btn-dark{
      background-color: $secondary-color;
      color: $primary-color;
  }
  
  .d-flex {
    display: flex;
  }
  
  .jc-between {
    justify-content: space-between;
  }
  
  .ai-center {
    align-items: center;
  }
  
  .fd-column{
      flex-direction: column;
  }
  
  .gap-4 {
    gap: $base-gap * 4;
  }
  
  .gap-5 {
    gap: $base-gap * 5;
  }
  
  .gap-6 {
    gap: $base-gap * 6;
  }
  
  .h1 {
    font-size: $base-font-size * 32;
  }
  
  .h2 {
    font-size: $base-font-size * 16;
  }
  
  .h3 {
    font-size: $base-font-size * 16;
  }
  
  .fs-1 {
    font-size: $base-font-size * 8;
  }
  
  .fs-2 {
    font-size: $base-font-size * 6;
  }
  
  .fs-3 {
    font-size: $base-font-size * 5;
  }
  
  .mt-auto{
      margin-top: auto;
  }
  
  .mb-1 {
    margin-bottom: $base-margin;
  }
  
  .mb-4{
      margin-bottom: $base-margin * 4;
  }
  
  .mb-7{
      margin-bottom: $base-margin * 7;
  }
  
  .mb-8 {
    margin-bottom: $base-margin * 8;
  }
  
  .mb-9 {
    margin-bottom: $base-margin * 9;
  }
  
  .mr-4 {
    margin-right: $base-margin * 4;
  }
  
  .mr-6 {
    margin-right: $base-margin * 6;
  }
  