$base-line-height: 1.5;

$base-font-size: 4px;

$container-width: 1296px;

$base-margin: 4px;

$base-gap: 4px;

$base-font-family: "Bruno Ace SC", sans-serif;

$primary-color: #ffffff;
$secondary-color: #000000;
$accent-color: #00ffa3;

$nav-text-color: #d1d1d1;

$description-text-color: #15161d;